html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
   margin: 0;
   color: black;
}

.topthing {
width: 100% !important;
height: 40px;
background-color: #5C6D54;
}
.topthing a{
background-image: url('phil.png');
position: relative;
bottom: 100px;
left: 1300px;
}
.gmial {
position: relative;
top: 2%;
left: 50%;
}
.gmail {
position: relative;
left:80px;
top: -22px;
color: white;
font-family: "Bahnschrift";
font-weight: semi-bold;
font-size: 20px;
}
.cell {
position: relative;
bottom: 45px;
left: 330px;
}
.number {
position: relative;
left:360px;
bottom: 72px;
color: white;
font-family: "Bahnschrift";
font-weight: semi-bold;
font-size: 20px;
}
.socials {
position: relative;
bottom: 98px;
left: 1332px;
}
.facebook {
position: relative;
bottom: 15px;
}
.linkedin {
position: relative;
bottom: 31px;
left: 48px;


}

.logo {

padding: 15px;
text-align: center;
background-image: url('phil2.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1000px 450px;
background-color: #96C18C;
background-position: top left;
background-position: 0 50px;
width: 100%;
height: 400px
}

.navbar{

width: 100%;
overflow: auto;
}
.nav a{
box-sizing: border-box;
padding-top: 12px;
padding-bottom: 60px;
background-color: #7EAD7B;
display: inline-block;
float: inherent;
width: 20%;
margin-left: 2%;
margin-right: 2%;
border-radius: 5px;
box-shadow: 2px 2px 10px grey;
position: relative;
top: -60px;
text-align: center;
font-size: 35px;
color: white;
font-family: "Century Gothic";
text-decoration: none;
}

.house {
background-image: url('house.png')
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
position: relative;
top: 20px;
}
.monitor{
background-image: url('monitor.png')
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
position: relative;
top: 20px;
}
.contact{
background-image: url('contact.png')
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
position: relative;
top: 20px;
}
.career{
background-image: url('career.png')
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
position: relative;
top: 20px;
}
.nav a:hover {
background-color: #6D8967;
}
.nav a.active {
background-color: #7A9673;
}

.question {

color: #8AC387;
font-size: 40px;
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: semi-bold;
text-align: center;
padding: 30px;

}

.para {
color: #5C5C5C;
font-size: 17px;
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
text-align: left;
font-weight: 600;
padding: 12px;
text-align: justify;

text-indent: 20px;
}

.talkingphil{
position: fixed;
bottom: -5px;
right: 0px;
}

.footer{
width: 100%;
height:200px;
background-color: #5C6D54;
}
.logo2 {
text-align: center;
}
.logo2 img{
width: 350px;
height: 50px;
position: relative;
top: 40px;
}
.copyrightclaim{
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
text-align: center;
color: #E6F0E0;
font-size: 14px;
position:relative;
top: 70px;
}
.navbottom {
position:relative;
text-align: center;
top: 100px;
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
}
.navbottom a{
color:white;
padding: 3px;
}
.navbottom a:hover {
color: grey;
}

.cybertitle{
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 60px;
color: #8AC387;
font-weight: bold;
text-align: center;
padding: 30px;
}

.ai{
font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 60px;
color: #8AC387;
font-weight: bold;
text-align: center;
padding: 30px;
}